.bx-wrapper {
	height: 450px !important;
	overflow: auto;
}

.bx-viewport {
	height: 450px;
}

.dhis2-slide {
    height: 440px;
    width: 100%;
}

/* .slick-track {
	transform: translate3d(0);
} */

.dhis2-analytics-single {
	/* border: 1px solid blueviolet; */
	height: 450px;
	width: 100%;
}
