.bxslider{
    width: 100%;
    border: 1px solid #0ccc82;
    overflow: hidden;
    height: 500px;
}

.bx-wrapper {
    height: 500px !important;
    overflow: auto; 
}

.bx-viewport{
    height: 100%;
}